@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /*Primary color*/
    --Yellow: hsl(47, 88%, 63%);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Yellow);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
}

.container {

}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }