@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    /*Primary color*/
    --Yellow: hsl(47, 88%, 63%);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Yellow);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    height: calc(100vh - 1px);
}

.container {
    background-color: var(--White);
    width: 384px;
    height: 522px;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    box-shadow: 20px 20px 20px rgb(0,0,0);
}
/*Card Main Image - Start*/
.container .svgImage {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

/*Card Main Image - End*/

/*Card Main Content - Start*/

.container .info {
    width: 336px;
    height: 194px;
    margin-bottom: 1.5rem;
}


.container span h3 {
    background-color: var(--Yellow);
    width: 82px;
    height:29px;
    text-align: center;
    margin-bottom: 0.75rem;
    border-radius: 0.3rem;
}

.container .date {
    margin-bottom: 0.8rem;
}

.container h2 {
margin-bottom: 0.75rem;
}

.container .mainTxt {
    color: var(--Grey);
}
/*Card Main Content - End*/

/*Card Profile - Start*/

.container .profile {
    display: flex;
    width: 129px;
    height: 32px;
}
.container .profile img {
    margin-right: 0.8rem;
}

/*Card Profile - End*/

/*Footer - Start*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
/*Footer - End*/